@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", system-ui;
}

.bluewShadow {
	box-shadow: 3px 3px 0 0 #60a5fa;
}

.bluewShadow:hover {
	transform: translate(-3px, -3px);
	box-shadow: 6px 6px 0 0 #60a5fa;
}
